@model CourseDetailVM
@{
    ViewData["Title"] = "Detail";
}

<style>

    .image {
        width: 400px;
        margin-right: 20px;
        margin-left: 15%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

        .image img {
            max-width: 100%;
        }

    .info {
        margin-left: 15%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

        .info h2 {
            font-size: 24px;
            font-weight: bold;
        }

        .info p {
            font-size: 16px;
            margin-bottom: 10px;
        }

</style>
<div class="detail-view">
    <div class="image">
        <img src="~/images/@Model.Image" alt="">
    </div>
    <div class="info">
        <h2>@Model.Title</h2>
        <p>@Model.Description</p>
        <p>@Model.Date</p>
        <p>@Model.Author</p>
        <a asp-controller="Course" asp-action="Index" class="btn btn-danger">Back</a>
    </div>

</div>




